.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 500px; 
  min-height: 300px; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:hover {
  background-color: #007bff; 
  color: white;
  filter: brightness(0.9);
}

.login-button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border-color: #0069d9;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red; 
  margin-top: 15px; 
  font-size: 14px;
  text-align: center;
}

.register-button {
  font-size: 0.875rem; 
  color: #6c757d; 
  padding: 5px 10px;
  text-transform: none;
  margin-top: 40px; 
  align-self: flex-start;
  background-color: transparent; 
  border: none; 
}

.register-button:hover {
  color: #343a40;
  background-color: transparent;
}
