<div>
  <h1>Lista de Eventos:</h1>
  <button (click)="navigateToAddEvent()"  *ngIf="userRole === 'admin'" class="add-event-button">Agregar Evento</button>
  
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <table *ngIf="events && events.length > 0; else noEventos" class="event-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th style="width: 120px;">Fecha</th>
        <th style="width: 150px;" *ngIf="userRole === 'admin'">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.title }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.date }}</td>
        <td *ngIf="userRole === 'admin'"> 
          <button (click)="onEdit(event)">Editar</button>
          <button (click)="onDelete(event)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noEventos>
    <p>No hay eventos disponibles.</p>
  </ng-template>
</div>
  